h1 {
    font-style: italic;
    font-variant: small-caps;
    font-weight: normal;
    font-size: 50px;
    line-height: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkviolet;
}

p {
    font-size: 20px;
    font-family: sans-serif;
}