/*penulisan : border : width type color
    style: solid, dotted, dashed, double
    box-sizing: border-box
        membuat lbr tetap sama sesuai default
*/

.article {
    background-color: whitesmoke;
    width: 600px;
    margin: auto;
    padding: 10px;
    border: 5px solid black;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    text-align: center;
    vertical-align: middle;
    position: absolute;
}

img {
    width: 200px;
}

.header {
    background-color: khaki;
    width: 600px;
}

.nav {
    background-color: wheat;
    width: 600px;
}

a:link {
    color: black;
    text-decoration: none;
}

.article {
    background-color: whitesmoke;
    width: 600px;
}