body {
    font-size: 16px;
    line-height: 20px;
    font-family: Arial, sans-serif;
    background-color: #eaeaea;
    color: #333;
}

.container {
    width: 800px;
    margin: auto;
    background-color: #fff;
}

.header {
    padding: 30px;
    padding-bottom: 10px;
}

.header a:hover {
    background-color: lightskyblue;
    color: white;
}

.header ul li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header a {
    color: salmon;
    text-decoration: none;
}


/*Photo by 
    unsplash.com/@johnschno
    
    background-image: url(../img/hero2.png);
    */

.hero {
    height: 280px;
    background-color: rgb(190, 187, 187);
    background-size: cover;
    border-top: 5px solid salmon;
    border-bottom: 5px solid lightgrey;
    display: grid;
    place-items: center;
}

.content {
    padding: 20px;
}

.content h2 {
    font-size: 28px;
    font-weight: bold;
}

.content .penulis {
    font-size: 11px;
    margin-top: -5px;
}

.content .penulis a {
    text-decoration: none;
}

.content {
    margin: 20px;
    font-size: 13px;
}

footer {
    background-color: #333;
    height: 40px;
    padding: 10px;
}

footer p {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
    t
}