    /*div {
        width: 100px;
        height: 100px;
    }
   text wrapping
        img{
            float: left;
            margin: 6px;
            }

     */
    
    .container {
        width: 800px;
        border: 1px solid slategrey;
        margin: auto;
        padding: 5px;
    }
    /* 
        Images gallery
        .kotak {
            width: 80px;
            height: 80px;
            background-color: tomato;
            color: wheat;
            text-align: center;
            line-height: 80px;
            font-size: 32px;
            margin: 2px;
            float: left;
            }
    Multi Column layout
        .kiri {
            width: 150px;
            height: 500px;
            float: left;
            background-color: salmon;
            padding: 5px;
            box-sizing: border-box;
        }
        .tengah {
            width: 500px;
            height: 500px;
            float: left;
            background-color: lightseagreen;
        }
        .kanan {
            width: 150px;
            height: 500px;
            background-color: limegreen;
            float: left;
        }
        */
    
    .satu {
        width: 100px;
        height: 100px;
        background-color: salmon;
    }
    
    .dua {
        width: 100px;
        height: 100px;
        background-color: limegreen;
    }
    
    .tiga {
        width: 100px;
        height: 100px;
        background-color: lightskyblue;
    }